.DS_Store
.idea
*.log
tmp/
tmate*.log
nohup.out
example/*/*.pb.go
api/*/*.pb.go
results.json
sotw-*.json
incremental-*.json
.ignore
examples/java-control-plane/build
examples/java-control-plane/.gradle
